<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="true"
  >
  <php>
    <ini name="error_reporting" value="E_ALL" />
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
  </php>
</phpunit>

